/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
header{
    color: white;
    overflow: hidden;
}

/* header styles goes here */
.copa-header{
    background-color:blue;
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    
}

.header-left{
    padding: 207px 102px 240px 156px;

}

.copa-header:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.header-right{
    padding: 153px 140px 86px 0px;

}
h1{
    font-size: 64px;
}

.watch-link-button{
    font-size: 16px;
    font-weight: 500px;
    color: white;
    text-decoration:none;
    background-color:#ff3399;
    padding:10px 24px;
}
.header-right img{
    width: 556px;
    height: 438px;
}

/* main section's style goes here */
main{
    margin-top: 70px;
    display: grid;
    align-items: center;
}
.container{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
}
/* famous-players-profile-styles */
.famous-player-section{
    margin-bottom: 100px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;

}
.player{
    background-color: white;
    padding: 15px;
    width: 300px;
    height: 444px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
h3{
    font-weight: 700;
}
.player img{
    width: 300px;
    height: 256px;
}
.player p{
    width: 300px;
}

/* footer styles goes here */
footer{
    margin-top: 158px;
    margin-bottom: 63px;
    background-color: white;
    text-align: center;
}
footer img{
    width: 485px;
}
footer a{
    margin: 5px;
    text-decoration: none;
}
.footer-icon-bg-color{
    padding: 8px;
    border-radius: 15px;
    background-color: #e9e3e3;
}
.copy-right p{
    font-size: 18px;
}


  
  /* sign-up-users styles goes here */

.upper-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.signup-container {
    max-width: 1050px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
}

.signup-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.signup-container .title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: blueviolet;
    left: 0;
    bottom: 0;
}

.signup-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #aeaaaf;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    background: rgb(149, 142, 187);
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: rgb(223, 219, 219);
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

/* Media Queries */
/* Mobile Devices */
@media only screen and (max-width: 688px) {
main{
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    display: grid;
    align-items: center;
    /* justify-content: center; */
    background-color: white;
}
.players,.copa-header{

    display:grid ;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
}
/* .player{
    flex-direction: column;
} */

}

